In [2]:
import pandas as pd

#dataset = pd.read_csv('../data/A_Z Handwritten Data.csv')

#dataset.tail()

,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,...,0.639,0.640,0.641,0.642,0.643,0.644,0.645,0.646,0.647,0.648
372445,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372446,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372447,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372448,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
372449,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# load some libraries that I frequently use. 
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from keras.layers import Flatten
from tensorflow.keras.optimizers import Adam
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras import backend as K
from keras.utils import np_utils
from sklearn.model_selection import train_test_split
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# Load the dataset as 'numpy array'
dataset = np.loadtxt('../data/A_Z Handwritten Data.csv', delimiter= ',')

In [8]:
# Divide the dataset into two parts, one is 'Explanaory variable', the other is 'Target'
X = dataset[:, 0:784]
Y = dataset[:,0]

# Split the 'X, Y' data into the ratio of 7:3, 3 is the test size.

(X_train, X_test, Y_train, Y_test) = train_test_split(X,Y, test_size= 0.3, 
                                                      random_state=2)

In [9]:
# Reshape the data and change it into float 32

X_train = X_train.reshape(X_train.shape[0], 28,28,1).astype('float32')
X_test = X_test.reshape(X_test.shape[0], 28, 28, 1).astype('float32')

In [10]:
# The pixcel of the data is comprised from 0 to 255. 0 is white, 255 is black.
# Now we normalize the data from 0 to 1 without some libraries, in a simple way.

X_train = X_train / 255
X_test = X_test / 255

In [11]:
# One-Hot-Encoding of the target

Y_train = np_utils.to_categorical(Y_train)
Y_test = np_utils.to_categorical(Y_test)

# Define the classification of 26 alphabets.

num_classes = Y_test.shape[1]

In [13]:
# Build an ordinary 'Deep Learning model' with CNN and Max Pooling by using keras

model = Sequential()
model.add(Conv2D(32, (5, 5), input_shape = (28,28,1),
                activation = 'relu'))
model.add(MaxPooling2D(pool_size = (2,2)))
model.add(Flatten())
model.add(Dense(128, activation = 'relu'))
model.add(Dense(num_classes, activation = 'softmax'))

# Optimizer and compilation

model.compile(optimizer= Adam(learning_rate=0.01), 
             loss = 'categorical_crossentropy',
             metrics = ['accuracy'])

In [14]:
print(model.summary())

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv2d_1 (Conv2D)            (None, 24, 24, 32)        832
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 12, 12, 32)        0
_________________________________________________________________
flatten (Flatten)            (None, 4608)              0
_________________________________________________________________
dense (Dense)                (None, 128)               589952
_________________________________________________________________
dense_1 (Dense)              (None, 26)                3354
=================================================================
Total params: 594,138
Trainable params: 594,138
Non-trainable params: 0
_________________________________________________________________
None

In [15]:
# Fit the train data of model

Train = model.fit(X_train, Y_train, batch_size= 128, epochs= 5)

Epoch 1/5
2037/2037 [==============================] - 38s 18ms/step - loss: 0.3280 - accuracy: 0.9090
Epoch 2/5
2037/2037 [==============================] - 37s 18ms/step - loss: 0.0855 - accuracy: 0.9751
Epoch 3/5
2037/2037 [==============================] - 37s 18ms/step - loss: 0.0744 - accuracy: 0.9783
Epoch 4/5
2037/2037 [==============================] - 37s 18ms/step - loss: 0.0651 - accuracy: 0.9813
Epoch 5/5
2037/2037 [==============================] - 37s 18ms/step - loss: 0.0598 - accuracy: 0.9834

In [ ]:
#Evaluate the two models by using two metrics, loss and accuracy.
metrics = ['loss', 'accuracy']
#show the evaluation result by using matoplot.
plt.figure(figsize=(10, 5))
#Use "For Loop".
for i in range(len(metrics)):
    metric = metrics[i]
    #set subplots to show the result
    plt.subplot(1, 2, i+1)
    #Titles of subplots are "loss" and "accuracy"
    plt.title(metric) 
    plt_train1 = Train1.history[metric] 
    plt_test1 = Test1.history[metric]
    plt_train2 = Train2.history[metric]
    plt_test2 = Test2.history[metric] 
    #plot them all
    plt.plot(plt_train1, label='train1') 
    plt.plot(plt_train2, label='train2') 
    plt.plot(plt_test1, label='test1') 
    plt.plot(plt_test2, label='test2') 
    plt.legend() 
plt.show()